<nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo center">Onion News Scraper</a>
        <ul class="right" id="nav-mobile">
            <li><a href="/scrape">Scrape</a></li>
            <li><a href="https://github.com/gerarjon/mongo-scraper" target="_blank">GitHub Repo</a></li>
        </ul>
    </div>
</nav>