<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-8 offset-md-2 offset-md-right-2">
        <h1>The Star</h1>
        <h2>News Scraper</h2>
      </div>
  </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 offset-md-1 offset-md-right-1" id="articleContainer">
      <h2>News! News! News!</h2>
    </div>
  </div>
</div>