    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2 offset-md-right-2">
            <h1>News Scraper</h1>
            <h2>Toronto Star Edition</h2>
            <h3>(Saved Articles)</h3>
          </div>
      </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-md-10 offset-md-1 offset-md-right-1" id="articleContainer">
          <h2>News! News! News!</h2>
        </div>
      </div>
    </div>

    <!-- The Comment Modal -->
    <div class="modal fade" id="comment-modal">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="comment-modal-title">Modal Heading</h4>
            <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body" id="comment-modal-body">
            <div id="comment-listing"></div>
            <textarea rows="4" cols="50" placeholder="New Comment" id="new-comment"></textarea>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-success" data-dismiss="modal" id="save-comment-submit">Save Comment</button>
          </div>

        </div>
      </div>
    </div>